<div class="sidebar-fixed position-fixed bg-cyan"  style="padding-top:80px;">

  <i class="fas fa-wallet text-center" style="font-size:35px;padding-left:60px;font-size:100px;line-height:10px;border-radius:80px;color:#E91E63"></i> 
  <h4 class="text-center font-weight-light">BUILTRACKER</h4>
  <div style="border-top:5px solid#E91E63;width:40px;">

  </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item  waves-effect " style="background:#E91E63;color:white">
                <i class="fas fa-chart-pie mr-3"></i>Dashboard
            </a>
            <a href="#" class="list-group-item list-group-item-action waves-effect-light">
                <i class="fas fa-user mr-3"></i>Profile</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-table mr-3"></i>Statistics</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-map mr-3"></i>Transactions</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-money-bill-alt mr-3"></i>Wallets</a>
        </div>
    
    </div>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container-fluid">
  
          <!-- Brand -->
          <a class="navbar-brand waves-effect" href="" >
           <strong class="blue-text">BuilTracker Wallet</strong>
          </a>
  
          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link waves-effect" href="#">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" href="">About
                  </a>
              </li>
            </ul>
  
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              
            </ul>
  
          </div>
  
        </div>
      </nav>