{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign up as a {{user_type}}</h2>
    
      <form method="post" novalidate>
        {% csrf_token %}
        
       
        {%bootstrap_form form %}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
      {% if user_type == owner %}
      <input type="hidden" name="next" value="/wallets">
      {% elif  user_type == financier %}
      <input type="hidden" name="next" value="/wallet-detail">
      {% endif %}
    </div>
  </div>
{% endblock %}